<!-- preloader -->
<div class="preloader" id="preloader">
  <div class="preloader-thumb">
      <img src="assets/images/propeller.png" alt="image">
  </div>
</div>

<!-- header-section start -->
<header class="header-section">
  <div class="header-top d-none d-xl-block">
      <div class="container">
          <div class="row">
              <div class="col-lg-10">
                  <div class="header-wrapper">
                      <div class="header-info">
                          <div class="info-item">
                              <div class="info-thumb">
                                  <i class="flaticon-placeholder"></i>
                              </div>
                              <div class="info-content">
                                  <h6 class="title">location</h6>
                                  <span>medino, NY 10012, USA</span>
                              </div>
                          </div>
                          <div class="info-item">
                              <div class="info-thumb">
                                  <i class="flaticon-message"></i>
                              </div>
                              <div class="info-content">
                                  <h6 class="title">email address</h6>
                                  <span>demo@gmail.com</span>
                              </div>
                          </div>
                          <div class="info-item">
                              <div class="info-thumb">
                                  <i class="flaticon-phone-call"></i>
                              </div>
                              <div class="info-content">
                                  <h6 class="title">Phone</h6>
                                  <span>12345678900</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-2">
                  <div class="language-select-list d-flex flex-wrap">
                      <div class="language-thumb">
                          <img src="assets/images/flag.png" alt="image">
                      </div>
                      <div class="language-select">
                          <select class="select-bar">
                              <option data-display="English">English</option>
                              <option value="1">Bangla</option>
                              <option value="2">Hindi</option>
                          </select>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="header-bottom">
      <div class="container">
          <div class="row align-items-center justify-content-between">
              <a class="site-logo site-title" href="index.html"><img src="assets/images/logo.png" alt="site-logo"></a>
              <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="fas fa-bars"></span>
              </button>
              <nav class="navbar navbar-expand-lg p-0">
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav main-menu ml-auto">
                          <li class="menu_has_children"><a href="#0">Home<i class="fas fa-caret-down"></i></a>
                              <ul class="sub-menu">
                                  <li><a href="/home1">Home One</a></li>
                                  <li><a href="/home2">Home Two</a></li>
                              </ul>
                          </li>
                          <li><a href="/about">About</a></li>
                          <li class="menu_has_children"><a href="#0">Course<i class="fas fa-caret-down"></i></a>
                              <ul class="sub-menu">
                                  <li><a href="/crewcourse">Crew Course</a></li>
                                  <li><a href="/ctraffic">Traffic Control Course</a></li>
                                  <li><a href="/cprivate">Private Pilot Course</a></li>
                                  <li><a href="/catp">ATP Training Course</a></li>
                              </ul>
                          </li>
                          <li class="menu_has_children"><a href="#0">Pages<i class="fas fa-caret-down"></i></a>
                              <ul class="sub-menu">
                                  <li><a href="/pPrivacy">Privacy Page</a></li>
                                  <li><a href="/pService">Service</a></li>
                                  <li><a href="/pRegister">Student Registration</a></li>
                                  <li><a href="/pFaq">Faq Page</a></li>
                                  <li><a href="/pLogin">Login Page</a></li>
                              </ul>
                          </li>
                          <li class="menu_has_children"><a href="#0">Blog<i class="fas fa-caret-down"></i></a>
                              <ul class="sub-menu">
                                  <li><a href="/blog1">Blog Post One</a></li>
                                  <li><a href="/blog2">Blog Post Two</a></li>
                                  
                              </ul>
                          </li>
                          <li><a href="contact.html">Contact</a></li>
                      </ul>
                      <div class="header-action d-flex flex-wrap align-items-center">
                          <a href="register.html" class="cmn-btn">Become a pilot</a>
                      </div>                    
                  </div>
              </nav>
          </div>
      </div>
  </div>
</header>
<!-- header-section end -->
